@typeparam TValue
@using equiavia.components.Utilities

@if (_treeItems != null)
{
    <CascadingValue TValue="EqTreeView<TValue>" Value="@this">
        <div class="treeview-container" style="max-height:@Height;">
            <ul class="noselect">
                @foreach (var item in _treeItems.Where(i => i.IsRootNode && i.IsVisible).ToList())
                {
                    <EqTreeViewItem TValue=@TValue
                                    @ref="@item.eqTreeViewItem"
                                    Item="@item"
                                    KeyPropertyName="@KeyPropertyName"
                                    ValuePropertyName="@ValuePropertyName"
                                    @key="item.UniqueIdentifier"
                                    OnItemSelected="ItemSelected"></EqTreeViewItem>
                }
            </ul>
        </div>
    </CascadingValue>
}

@code {

}
